<nav class="navbar navbar-expand-lg navbar-white">
    <img class="menu-bar" src="../assets/menu.png" alt="">
    <img class="navbar-brand" width="113" src="../assets/logo.png" />
    <ul class="navbar-nav m-auto">
      <li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link">News</a></li>
      <li class="nav-item"><a href="#" class="nav-link">User Policy</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
      <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/elipses.png" class="elipses" alt=""></a></li>
      <div class="form">
        <img class="search-icon" src="../assets/search.png">
        <input type="text" class="form-control form-input search-box" placeholder="Search anything...">
      </div>
    </ul>
    <ul class="navbar-nav mr-30">
    <li class="nav-item"><a href="#" class="nav-link"><img class="mr-10" width="20" src="../assets/profile-icon.png" alt="" /> Clayton Santos</a></li>
      <li class="nav-item"><a href="#" class="nav-link bell-icon"><img src="../assets/bell.png" alt=""><div class="red-dot"></div></a></li>
      <li class="nav-item"><a href="#" class="nav-link close-icon"><img src="../assets/close.png" alt=""></a></li>
    </ul>
  </nav>
