<div class="row">
    <div class="col-md-11">
        <div class="messenger-container">
            <div class="row">
                <div class="col-md-4 user-container">
                    <div class="search-container">
                        <img src="../../../assets/search.png" alt="">
                        <input class="form-control" type="text" placeholder="Search in Messages" />
                    </div>
                    <div class="comment-write-section">
                        <div class="d-flex pt-20">
                            <div>
                                <img src="../../../assets/task-list/at-avatar-2.png" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-container">
                                    <p>Online <br>
                                    <span class="user">Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-write-section">
                        <div class="d-flex pt-20">
                            <div class="group-img">
                                <img src="../../../assets/task-list/at-avatar-2.png" alt="">
                                <img class="below-img" src="../../../assets/task-list/at-avatar-3.png" alt="">
                                <img class="below-img-2" src="../../../assets/task-list/at-avatar-4.png" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-container">
                                    <p>Online <br>
                                    <span class="user">Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-write-section active">
                        <div class="d-flex pt-20 active">
                            <div>
                                <img src="../../../assets/task-list/at-avatar-1.png" alt="">
                            </div>
                            <div class="comment-box active">
                                <div class="comment-container comment-container-active">
                                    <p>Online <br>
                                    <span>Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment comment-active">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-write-section">
                        <div class="d-flex pt-20">
                            <div>
                                <img src="../../../assets/task-list/at-avatar-4.png" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-container">
                                    <p>Online <br>
                                    <span class="user">Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-write-section">
                        <div class="d-flex pt-20">
                            <div>
                                <img src="../../../assets/task-list/at-avatar-3.png" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-container">
                                    <p>Online <br>
                                    <span class="user">Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-write-section">
                        <div class="d-flex pt-20">
                            <div>
                                <img src="../../../assets/task-list/at-avatar-2.png" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-container">
                                    <p>Online <br>
                                    <span class="user">Floyd Lloyd</span></p>
                                    <p>12:45</p>
                                </div>
                                <div>
                                    <p class="comment">Internet Advertising What Went Wrong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-icons">
                        <img src="../../../assets/messenger/users.png" alt="">
                        <img src="../../../assets/messenger/messages.png" alt="">
                        <img src="../../../assets/messenger/phone.png" alt="">
                        <img src="../../../assets/messenger/settings.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 chat-container">

                    <div class="chat-header-section">
                        <div class="start-images">
                          <img src="../../../assets/messenger/phone.png" alt="User Icon" class="start-img">
                          <img src="../../../assets/messenger/video.png" alt="Messages Icon">
                        </div>
                        <div class="center-content">
                          <p class="mb-0">Ina Roberson</p>
                        </div>
                        <div class="end-images">
                          <img src="../../../assets/messenger/expand.png" alt="Phone Icon">
                          <img src="../../../assets/messenger/dots.png" alt="Settings Icon" class="end-img">
                        </div>
                      </div>

                    <div class="chat-user-section">
                        <div class="single-chat left-chat">
                            <div class="d-flex align-center py-20">
                                <img src="../../../assets/task-list/at-avatar-1.png" alt="">
                                <p class="mb-0">Stephen Park</p>
                                <div class="flex-grow">
                                    <p class="time mb-0">12:45</p>
                                  </div>
                            </div>
                            <div class="download">
                                <div class="file">
                                    <p class="mb-0">Human Design Guidlines.pdf</p>
                                    <p class="mb-0 txt-purple">760.90 KB</p>
                                </div>
                                <div class="loading">
                                    <p class="mb-0">Downloading...</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-chat right-chat">
                            <div class="d-flex align-center py-20">
                                <p class="time mb-0">12:45</p>
                                <div class="flex-grow">
                                    <p class="mb-0">Floyd Lloyd</p>
                                    <img src="../../../assets/task-list/at-avatar-2.png" alt="">
                                  </div>
                            </div>
                            <div class="image">
                                <img src="../../../assets/messenger/img-1.PNG" alt="">
                                <img src="../../../assets/messenger/img-2.PNG" alt="">
                            </div>
                        </div>

                        <div class="single-chat left-chat">
                            <div class="d-flex align-center py-20">
                                <img src="../../../assets/task-list/at-avatar-1.png" alt="">
                                <p class="mb-0">You</p>
                                <div class="flex-grow">
                                    <p class="time mb-0">12:45</p>
                                  </div>
                            </div>
                            <div class="voice">
                                <img width="300" src="../../../assets/messenger/img-3.PNG" alt="">
                            </div>
                        </div>

                        <div class="single-chat right-chat mb-62">
                            <div class="d-flex align-center py-20">
                                <p class="time mb-0">12:45</p>
                                <div class="flex-grow">
                                    <p class="mb-0">Floyd Lloyd</p>
                                    <img src="../../../assets/task-list/at-avatar-2.png" alt="">
                                  </div>
                            </div>
                            <div class="chat-text">
                                <p class="mb-0">Every large design company wether it's multi-national 
                                    branding corporation or a regular down at heel tatty 
                                    magazine publisher needs to fill holes in the workforce.
                                    If the canny freelance designer play his or her cards right,
                                    he can earn a tidy sum while essentially.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="chat-footer-section">
                        <img src="../../../assets/task-list/attachment.png" alt="Attachment Icon" class="chat-icon">
                        <img src="../../../assets/messenger/image.png" alt="Image Icon" class="chat-icon">
                        <input class="form-control chat" type="text" placeholder="Type Message" />
                        <img src="../../../assets/messenger/plane.png" alt="Send Icon" class="chat-icon">
                      </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="right-menu">
            <div class="top-icon-container mt-300">
                <button type="button" class="submit-btn">
                    <img class="pb-10" src="../../../assets/messenger/chat.png" alt="">
                    Start Chat</button>
              <img class="top-icon" src="../../../assets/b-icon-2.png" alt="" />
              <img class="top-icon" src="../../../assets/b-icon-3.png" alt="" />
              <img class="top-icon" src="../../../assets/b-icon-4.png" alt="" />
              <img class="top-icon" src="../../../assets/b-icon-1.png" alt="" />
            </div>
            <div class="bottom-icon-container">
              
              <img class="bottom-icon" src="../../../assets/messenger/right-arrow.png" alt="" />
            </div>
          </div>
    </div>
</div>