<div class="row">
    <div class="col-md-2">
      <div class="left-menu">
        <div class="top-icon-container">
          <img class="top-icon mt-30" src="../../../assets/campus.png" alt="" />
          <img class="top-icon" src="../../../assets/star.png" alt="" />
          <img class="top-icon" src="../../../assets/messenger.png" alt="" />
          <img class="top-icon" src="../../../assets/growth.png" alt="" />
          <img class="top-icon" src="../../../assets/world.png" alt="" />
          <img class="top-icon" src="../../../assets/building.png" alt="" />
        </div>
        <div class="bottom-icon-container">
          <img class="bottom-icon" src="../../../assets/b-icon-2.png" alt="" />
          <img class="bottom-icon" src="../../../assets/b-icon-3.png" alt="" />
          <img class="bottom-icon" src="../../../assets/b-icon-4.png" alt="" />
          <img class="bottom-icon" src="../../../assets/b-icon-1.png" alt="" />
          <img class="top-icon" src="../../../assets/plus.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="sidebar-container">
        <div class="user-card">
          <div class="card-header">
            <img class="menu-bar" src="../assets/profile-icon-2.png" alt="" />
            <img class="menu-bar" src="../assets/dots.png" alt="" />
          </div>
          <div class="card-block">
            <div class="user-image">
              <img src="../../../assets/avatar.png" alt="User-Profile-Image" />
            </div>
            <h6 class="userName text-center">Hello Alfert Bryan</h6>
            <p class="email text-center">Adren.nader&#64;yahoo.com</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="card br-tl">
            <img src="../../../assets/dashboard.png" alt="" />
            <p>Dashboard</p>
          </div>
          <div class="card br-tr active cursor-pointer" (click)="routeToTaskList()">
            <img src="../../../assets/tasks.png" alt="" />
            <p>Tasks</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="card">
            <img src="../../../assets/invoice.png" alt="" />
            <p>Invoice</p>
          </div>
          <div class="card">
            <img src="../../../assets/files.png" alt="" />
            <p>Files</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="card">
            <img src="../../../assets/events.png" alt="" />
            <p>Events</p>
          </div>
          <div class="card">
            <img src="../../../assets/teams.png" alt="" />
            <p>Teams</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="card br-bl cursor-pointer" (click)="routeToMsg()">
            <img src="../../../assets/messages.png" alt="" />
            <p>Messages</p>
          </div>
          <div class="card br-br">
            <img src="../../../assets/settings.png" alt="" />
            <p>Settings</p>
          </div>
        </div>

        <div class="social-icons">
          <img src="../../../assets/phone.png" alt="">
          <img src="../../../assets/envelope.png" alt="">
          <img src="../../../assets/reader.png" alt="">
          <img src="../../../assets/telegram.png" alt="">
          <img src="../../../assets/whatsapp.png" alt="">
        </div>
      </div>
    </div>
  </div>